<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<p>YOU MADE IT</p>

<% puppies.forEach(function(dog) { %>
	<% if (dog.puppyId == somethingElse){ %>
				Name: <%= dog.newPuppyName %>
				Age: <%= dog.age %>
				ID: <%= dog.puppyId %>
				<% } %>
 <%})%>


</body>
</html>