<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<p>YOU MADE IT</p>
	<p>
	
		<%= <% puppies.forEach(function(dog) { %>
			<%= if (dog.puppyId === req.params.id) %>
		
		<% })%> %>
	</p>

</body>
</html>