<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>DAAWWWGGGSGSGGSSGGGGSGSSGSGG</h1>



<% puppies.forEach(function(dog){ %>
<p>
<h1>Dog Name</h1>
<%=	dog.newPuppyName %>

<h1>Dog Age</h1>
<%= dog.age %>

<h1>Dog Index</h1>
<%= dog.puppyId %>
</p>
<%	}) %>

<p>

</p>
</body>
</html>




