<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>Doogs!</h1>
	<form action="/puppies">
		<p>
			<label for="newPuppyName">Name of puppy:	
				<input type="text" name="newPuppyName">
			</label>	
		</p>

		<p>
			<label for="age">Age of puppies:
				<input type="text" name="age">
			</label>
		</p>
	<input type="submit" value="birthAPuppy">		
	</form>


